image: molcas/build-doc

.template: &compile
  script:
    #- git clone --depth 10 git@git.teokem.lu.se:molcas-extra ~/molcas-extra
    - mkdir build
    - cd build
    - >-
      echo "$LICENSE_DAT" | sed 's/\x0D$//' > license.dat
    - echo "$cache_file" > flags.cmake
    - ls -l ../
    - ls -l ../.git
    #- cmake -C flags.cmake -D EXTRA=~/molcas-extra ..
    #- make VERBOSE=1

.template: &run-tests
  script:
    - molcas verify

before_script:
  # Install ssh-agent if not already installed
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  # Run ssh-agent (inside the build environment)
  - eval $(ssh-agent -s)
  # Add the SSH key stored in SSH_PRIVATE_KEY variable to the agent store
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  # Disable host key checking
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  #- '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config && chmod 644 ~/.ssh/config'

compilation:
  stage: build
  variables:
    cache_file: |
      set (CMAKE_BUILD_TYPE "Debug" CACHE STRING "opt, debug info")
      set (BUILD_SHARED_LIBS "OFF" CACHE STRING "do not use shared libmolcas")
      set (HDF5 "OFF" CACHE STRING "disable HDF5 support")
      set (BIGOT "ON" CACHE STRING "do not allow any warning")
    CC: gcc
    CXX: g++
    FC: gfortran
  <<: *compile
