image: molcas/build-doc

.template: &compile
  script:
    - git clone --depth 10 git@git.teokem.lu.se:molcas-extra ~/molcas-extra
    - mkdir build
    - cd build
    - cp /license.dat .
    - echo "$cache_file" > flags.cmake
    - cmake -C flags.cmake -D EXTRA=~/molcas-extra ..
    - make VERBOSE=1

.template: &run-tests
  script:
    - molcas verify

.template: &nowarn
  variables:
    cache_file: |
      set (CMAKE_BUILD_TYPE "Debug" CACHE STRING "opt, debug info")
      set (BUILD_SHARED_LIBS "OFF" CACHE STRING "do not use shared libmolcas")
      set (HDF5 "OFF" CACHE STRING "disable HDF5 support")
      set (BIGOT "ON" CACHE STRING "do not allow any warning")
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - nowarn
    - gcc 5.4
    - hdf5
    - static

.template: &plain
  variables:
    cache_file:
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - gcc 5.4

before_script:
  # Install ssh-agent if not already installed
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  # Run ssh-agent (inside the build environment)
  - eval $(ssh-agent -s)
  # Add the SSH key stored in the ssh_key file (created by the runner)
  - ssh-add /ssh_key
  # Disable host key checking
  - mkdir -p ~/.ssh && chmod 700 ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config && chmod 644 ~/.ssh/config'

compilation:nowarn:
  stage: build
  <<: *nowarn
  <<: *compile
test:nowarn:
  stage: test
  <<: *nowarn
  <<: *run-tests

compilation:plain:
  stage: build
  <<: *plain
  <<: *compile
test:plain:
  <<: *plain
  <<: *run-tests
