image: molcas/build-doc

# Define templates for "sub-jobs"
# - install-key: install the SSH key to access private repositories
# - compile: compile Molcas with CMake
# - run-tests: run the verification suite

.template: &install-key
  before_script:
    # Install ssh-agent if not already installed
    - >
      which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
    # Run ssh-agent (inside the build environment)
    - eval $(ssh-agent -s)
    # Add the SSH key stored in the ssh_key file (created by the runner)
    - ssh-add /ssh_key
    # Disable host key checking
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - >
      [[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config && chmod 644 ~/.ssh/config

.template: &compile
  <<: *install-key
  script:
    - mkdir build
    - cd build
    - cp /license.dat .
    # save the CMake configuration from a variable
    - echo "$cache_file" > flags.cmake
    # clone molcas-extra and add the setting if specified
    # and copy molcas.driver so it is included in the artifacts
    - |
      if [ -n "$extra" ] ; then
        git clone --depth 10 git@git.teokem.lu.se:molcas-extra $extra
        echo 'set (EXTRA "$ENV{extra}" CACHE PATH "location of molcas-extra")' >> flags.cmake
        cp $extra/sbin/molcas.driver .
      fi
    - cmake -C flags.cmake ..
    - make #VERBOSE=1
    # some clean up to reduce artifact size
    - >
      shopt -s globstar ; rm -rf **/CMakeFiles
  artifacts:
    paths:
      - build/
    expire_in: 1 day
  when: manual
  # allow failures so that the next stages are not blocked
  # (but test jobs that depend on this will fail later)
  allow_failure: true

.template: &run-tests
  script:
    - sbin/install_driver.sh build/molcas.driver
    - cd build
    # default if no tests specified is .all
    # run with "script" to force interactive terminal behaviour
    - |
      if [ -z "$tests" ] ; then export tests=".all" ; fi
      script -e -q -c "molcas verify $tests"
  after_script:
    - |
      cat build/test/result
      cp -L build/test/result result
      cp -Lr build/test/failed failed
  artifacts:
    paths:
      - result
      - failed/
    expire_in: 1 month
    when: always
  when: manual
  #allow_failure: false
  allow_failure: true

# Define some configuration groups (variables, tags, etc.) to be used in groups
# - plain: default configuration
# - options: enable several options
# - pgi: use PGI compilers
# - nowarn: no warnings allowed

.template: &plain
  image: registry.gitlab.com/jellby/dockerfiles/gcc-5.4:latest
  variables: &plain_vars
    extra: /molcas-extra
    cache_file: ""
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - docker
    - extra

.template: &options
  image: registry.gitlab.com/jellby/dockerfiles/gcc-5.4:latest
  variables: &options_vars
    extra: /molcas-extra
    cache_file: |
      set (CMAKE_BUILD_TYPE "RelWithDebInfo" CACHE STRING "opt, debug info")
      set (BUILD_SHARED_LIBS "ON" CACHE STRING "use shared libmolcas")
      set (BUILD_STATIC_LIB "ON" CACHE STRING "build statit libmolcas too")
      set (FDE "ON" CACHE STRING "Enable frozen-density-embedding (FDE) interface")
      set (NECI "ON" CACHE STRING "Enable NECI interface (external NECI)")
      set (TOOLS "ON" CACHE STRING "compile Tools")
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - docker
    - extra

.template: &pgi
  image: registry.gitlab.com/jellby/dockerfiles/pgi:latest
  variables: &pgi_vars
    extra: /molcas-extra
    cache_file: ""
    # Add -tp=x64 flag to make the result more portable
    CC: pgcc '-tp=x64'
    CXX: pgc++ '-tp=x64'
    FC: pgfortran '-tp=x64'
  tags: 
    - docker
    - extra

.template: &nowarn
  image: registry.gitlab.com/jellby/dockerfiles/gcc-5.4:latest
  variables: &nowarn_vars
    extra: /molcas-extra
    cache_file: |
      set (CMAKE_BUILD_TYPE "Debug" CACHE STRING "no opt, debug info")
      set (BUILD_SHARED_LIBS "OFF" CACHE STRING "do not use shared libmolcas")
      set (HDF5 "OFF" CACHE STRING "disable HDF5 support")
      set (BIGOT "ON" CACHE STRING "do not allow any warning")
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - docker
    - extra

# A special job for compiling the tinker interface
# By adding "tinker" as a dependency, other jobs can use it

tinker:
  stage: build
  image: registry.gitlab.com/jellby/dockerfiles/gcc-5.4:latest
  variables:
    # A patch to the tinker patch to make it work in low memory conditions
    patch_to_patch: |
                    diff -Nu -x '*~' -x '*.o' 6.3.3/source_orig/sizes.i 6.3.3/source/sizes.i
                    --- 6.3.3/source_orig/sizes.i   2015-04-14 13:58:10.122343730 +0200
                    +++ 6.3.3/source/sizes.i        2015-04-15 13:48:53.796041225 +0200
                    @@ -64,7 +64,7 @@
                           integer maxele,maxamino,maxnuc
                           integer maxbnd,maxang,maxtors
                           integer maxbitor
                    -      parameter (maxatm=100000)
                    +      parameter (maxatm=1000)
                           parameter (maxval=8)
                           parameter (maxgrp=1000)
                           parameter (maxref=10)
  script:
    - apt-get install -y --no-install-recommends patch
    - >
      git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/Molcas/Tinker
    - >
      wget https://gitlab.com/Molcas/Tinker/raw/master/tinker-6.3.3.tar.gz?private_token=${CI_JOB_TOKEN}
    # Apply the low-memory patch
    - |
      export TOKEN=$CI_JOB_TOKEN
      eval `grep TINKERVERSION= Tools/patch2tinker/get_tinker`
      eval `grep PATCH= Tools/patch2tinker/get_tinker`
      echo "$patch_to_patch" >> Tools/patch2tinker/$PATCH
    - >
      echo "y" | Tools/patch2tinker/get_tinker
  after_script:
    - |
      mkdir build
      cp -Lr tinker build
  artifacts:
    paths:
      - build/
    expire_in: 3 hours
  when: manual
  allow_failure: false

# Define the actual jobs, each job has a "build" and a "test" stage,
# the latter depends on the former, variables can be overriden.

build:plain:
  stage: build
  <<: *plain
  <<: *compile
test:plain:
  stage: test
  dependencies:
    - build:plain
    - tinker
  <<: *plain
  <<: *run-tests
deploy:plain:
  stage: deploy
  dependencies:
    - build:plain
    - tinker
  script:
    - echo "Deploy"
  <<: *plain
  environment:
    name: Testing
  when: manual

build:options:
  stage: build
  <<: *options
  <<: *compile
test:options:
  stage: test
  dependencies:
    - build:options
    - tinker
  <<: *options
  <<: *run-tests

build:pgi:
  stage: build
  <<: *pgi
  <<: *compile
test:pgi:
  stage: test
  dependencies:
    - build:pgi
    - tinker
  <<: *pgi
  <<: *run-tests

build:nowarn:
  stage: build
  <<: *nowarn
  <<: *compile
test:nowarn:
  stage: test
  dependencies:
    - build:nowarn
  <<: *nowarn
  <<: *run-tests
  # only interested in compilation, so run no tests
  # (but the job will fail if the compilation didn't succeed
  variables:
    <<: *plain_vars
    tests: .none
