image: molcas/build-doc

.template: &install-key
  before_script:
    # Install ssh-agent if not already installed
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    # Run ssh-agent (inside the build environment)
    - eval $(ssh-agent -s)
    # Add the SSH key stored in the ssh_key file (created by the runner)
    - ssh-add /ssh_key
    # Disable host key checking
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config && chmod 644 ~/.ssh/config'

.template: &compile
  <<: *install-key
  script:
    - >
      if [ -n "$extra" ] ; then git clone --depth 10 git@git.teokem.lu.se:molcas-extra $extra ; fi
    - mkdir build
    - cd build
    - cp /license.dat .
    - echo "$cache_file" > flags.cmake
    - >
      if [ -n "$extra" ] ; then echo 'set (EXTRA "$ENV{extra}" CACHE PATH "location of molcas-extra")' > flags.cmake ; fi
    - cmake -C flags.cmake -D EXTRA=/molcas-extra ..
    - make #VERBOSE=1
  allow_failure: true
  artifacts:
    paths:
      - build/
      - $extra/sbin/molcas.driver
    expire_in: 1d

.template: &run-tests
  script:
    - sbin/install_driver.sh /molcas-extra/sbin/molcas.driver
    - cd build
    - molcas verify

.template: &nowarn
  variables:
    extra: /molcas-extra
    cache_file: |
      set (CMAKE_BUILD_TYPE "Debug" CACHE STRING "opt, debug info")
      set (BUILD_SHARED_LIBS "OFF" CACHE STRING "do not use shared libmolcas")
      set (HDF5 "OFF" CACHE STRING "disable HDF5 support")
      set (BIGOT "ON" CACHE STRING "do not allow any warning")
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - gcc 5.4
    - extra
    - nowarn
    - hdf5
    - static

.template: &plain
  variables:
    extra: /molcas-extra
    cache_file: ""
    CC: gcc
    CXX: g++
    FC: gfortran
  tags:
    - gcc 5.4
    - extra

compilation:nowarn:
  stage: build
  <<: *nowarn
  <<: *compile
test:nowarn:
  stage: test
  dependencies:
    - compilation:nowarn
  <<: *nowarn
  <<: *run-tests

compilation:plain:
  stage: build
  <<: *plain
  <<: *compile
test:plain:
  stage: test
  dependencies:
    - compilation:plain
  <<: *plain
  <<: *run-tests
